@use "sass-reset";

// ====================================

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
  transition: all 0.4s cubic-bezier(0.16, 0.43, 0, 1);
}

h1 {
  font-family: "SourceSansPro";
  margin: 0;
  padding: 0;
  background: none;
  color: var(--color-text-dark);
}

h2,
h3 {
  font-family: "SourceSansPro";
  margin: 0;
  padding: 0;
  background: none;
  color: var(--color-text-dark);
}

p {
  margin: 0;
  padding: 0;
  background: none;
}

ul {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
  }
}

.svg-default {
  vertical-align: middle;
  line-height: 1;
}

.site-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  left: 0;
  background: var(--color-theme-body);
  transition: all 0.4s cubic-bezier(0.16, 0.43, 0, 1);
  &.forfixed {
    padding-top: 100px;
    // min-height: 3200px;
  }
}

.site-content {
  flex: 1;
}

.separator{
  padding: 1rem 0;
  background-color: #aa272f;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 1rem 0;
}
