//===================== Fonts Roboto ==========================

@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/roboto/Roboto-Light.woff2") format("WOFF2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/roboto/Roboto-Regular.woff2") format("WOFF2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/roboto/Roboto-Medium.woff2") format("WOFF2");
  font-weight: 500;
  font-display: swap;
}

// ===================== Fonts SourceSansPro ====================

@font-face {
  font-family: "SourceSansPro";
  src: url("/assets/fonts/sourcesans/WOFF2/TTF/SourceSans3-Light.ttf.woff2") format("WOFF2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("/assets/fonts/sourcesans/WOFF2/TTF/SourceSans3-Regular.ttf.woff2") format("WOFF2");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "SourceSansPro";
  src: url("/assets/fonts/sourcesans/WOFF2/TTF/SourceSans3-Semibold.ttf.woff2") format("WOFF2");
  font-weight: 500;
  font-display: swap;
}

// ===================== Fonts Unbounded ====================

@font-face {
  font-family: "Unbounded";
  src: url("/assets/fonts/unbounded/static/Unbounded-Light.ttf") format("ttf");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Unbounded";
  src: url("/assets/fonts/unbounded/static/Unbounded-Regular.ttf") format("ttf");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Unbounded";
  src: url("/assets/fonts/unbounded/static/Unbounded-Medium.ttf") format("ttf");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Unbounded";
  src: url("/assets/fonts/unbounded/static/Unbounded-SemiBold.ttf") format("ttf");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "Unbounded";
  src: url("/assets/fonts/unbounded/static/Unbounded-Bold.ttf") format("ttf");
  font-weight: 700;
  font-display: swap;
}
