@use "@scss/abstract/index";

/* ======================= СТИЛИ COOKIE BANNER ======================= */
.cookie-banner {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #2c3e50; /* Темно-синий фон */
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
  &.is-hidden {
    transform: translateY(100%);
  }
  .content-wrap {
    padding: 15px 20px 20px 20px;
    color: #ecf0f1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-family: sans-serif;
    font-size: 14px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    @include index.minMedia(800px) {
      flex-direction: row;
      text-align: left;
    }
  }
  .banner-text {
    margin: 0;
    margin-right: 20px;
    a {
      color: #3498db; /* Ярко-синий для ссылки */
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

.banner-button {
  display: inline-block;
  background-color: #3498db; /* Такой же синий, как у ссылки */
  color: #fff;
  border: none;
  margin-top: 15px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  white-space: nowrap; /* Чтобы текст не переносился */
  transition: background-color 0.2s;
  &:hover {
    background-color: #2980b9;
  }
  @include index.minMedia(800px) {
    margin-top: 0;
  }
}
