@use "partial/trast" as trast;
@use "partial/about" as about;
@use "partial/err404" as err404;
@use "partial/card" as card;
@use "partial/repair" as repair;
@use "partial/cost" as cost;
@use "partial/dostart" as dostart;
@use "partial/qrcode" as qrcode;
@use "partial/contacts" as contacts;
@use "partial/faq" as faq;
@use "partial/articles" as articles;
@use "partial/mainarticle" as mainarticle;
