@use "@scss/abstract/index";

.bg--cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.bg-hero {
  background: var(--color-theme-hero);
}

.bg-dark {
  background: var(--color-theme-dark);
}

.bg-type {
  background: var(--color-theme-type);
}

.bg-accent{
  background: var(--color-theme-accent);
}

.visual-bg {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45);
    z-index: 1;
  }
}

.visual-bg-light {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.05);
    z-index: 1;
  }
}

.border-light {
  border: 0.2px solid rgba(255, 255, 255, 0.7);
  border-radius: 1px;
  &:hover {
    transition: all 0.25s ease;
    border: 0.2px solid rgba(255, 255, 255, 0.45);
  }
}
